<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Otopark"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_apı_key" />


        <activity
            android:name=".UI.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UI.RegisterActivity"/>
        <activity android:name=".UI.LoginActivity"/>
        <activity android:name=".UI.UserMapsActivity" />
        <activity android:name=".UI.UserRezervasyonActivity" />

        <activity android:name=".UI.SelectionActivity" />
        <activity android:name=".UI.MapsActivity" />
        <activity android:name=".UI.RezervasyonActivity" />

        <activity android:name=".UI.OdemeActivity" />
        <activity android:name=".UI.Screen.OnBoard.OnBoard1" />
        <activity android:name=".UI.Screen.OnBoard.OnBoard2" />


    </application>

</manifest>